<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>

    <body>

        <div class="container">

            <div class="tz-gallery">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/cardenas/Cardenas.png">
                            <img src="../images/cardenas/Cardenas.png" class="images-gal" alt="Cardenas logo">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/cardenas/tarjetasCardenas.png">
                            <img src="../images/cardenas/tarjetasCardenas.png" class="images-gal" alt="Tarjetas Cardenas">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/cardenas/letrero Cardenas.png">
                            <img src="../images/cardenas/letrero Cardenas.png" class="images-gal" alt="Letrero Cardenas">
                        </a>
                    </div>
                    <div class="col-lg-12  shadow-sm">
                        <a class="lightbox" href="../images/cardenas/Papeleria1.png">
                            <img src="../images/cardenas/Papeleria1.png" class="images-gal full-size-img" alt="Papeleria Cardenas">
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</main>
<footer>

</footer>
<%- include('./partials/scripts') %>
</html>