<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>

    <body>

        <div class="container">

            <div class="tz-gallery">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/ema_benegas/EB.png">
                            <img src="../images/ema_benegas/EB.png" class="images-gal" alt="Logo Emanuel Benegas">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/ema_benegas/Caja cd.png">
                            <img src="../images/ema_benegas/Caja cd.png" class="images-gal" alt="Caja CD">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/ema_benegas/Dorso CD.png">
                            <img src="../images/ema_benegas/Dorso CD.png" class="images-gal" alt="Dorso CD">
                        </a>
                    </div>
                    <div class="col-lg-12  shadow-sm">
                        <a class="lightbox" href="../images/ema_benegas/InteriorCD.png">
                            <img src="../images/ema_benegas/InteriorCD.png" class="images-gal full-size-img" alt="Interior CD">
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</main>
<footer>

</footer>
<%- include('./partials/scripts') %>
</html>