<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>


<main>

  <body>

    <div class="container">

      <div class="tz-gallery">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a class="lightbox" href="../images/botellas/Bolsa Pablo.png">
              <img src="../images/botellas/Bolsa Pablo.png" class="images-gal" alt="Etiqueta Bolsa de Comercio">
            </a>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a class="lightbox" href="../images/botellas/club hipico 2.png">
              <img src="../images/botellas/club hipico 2.png" class="images-gal" alt="Etiqueta Club Hípico">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a class="lightbox" href="../images/botellas/La Vaca Malbec.png">
              <img src="../images/botellas/La Vaca Malbec.png" class="images-gal" alt="Etiqueta La Vaca">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a class="lightbox" href="../images/botellas/Bolsa Edu.png">
              <img src="../images/botellas/Bolsa Edu.png" class="images-gal" alt="Etiqueta Bolsa de Comercio">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/stingray">
              <img src="../images/stingray/Stingray.png" class="images-gal" alt="Marca Stingray">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/corefit">
              <img src="../images/corefit/Corefit.png" class="images-gal" alt="Marca Corefit">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/metrix">
              <img src="../images/metrixstore/Metrixstore.png" class="images-gal" alt="Marca Metrixstore">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/rgb">
              <img src="../images/rgb/RGB.png" class="images-gal" alt="Marca RGB">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/lomha">
              <img src="../images/lomha/Lomha.png" class="images-gal" alt="Marca Lomha">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/cardenas">
              <img src="../images/cardenas/Cardenas.png" class="images-gal" alt="Marca Cardenas">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/briella">
              <img src="../images/briella/Briella.png" class="images-gal" alt="Marca Briella">
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
            <a href="/eb">
              <img src="../images/ema_benegas/EB.png" class="images-gal" alt="Marca EB">
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</main>
<footer>

</footer>

<%- include('./partials/scripts') %>

</html>