<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>

    <body>

        <div class="container">

            <div class="tz-gallery">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/lomha/Lomha.png">
                            <img src="../images/lomha/Lomha.png" class="images-gal" alt="Logo Lomha">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/lomha/Lomha fondo.png">
                            <img src="../images/lomha/Lomha fondo.png" class="images-gal" alt="Fondo Lomha">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/lomha/Lomha 1.png">
                            <img src="../images/lomha/Lomha 1.png" class="images-gal" alt="Letrero Lomha">
                        </a>
                    </div>
                    <div class="col-lg-12  shadow-sm">
                        <a class="lightbox" href="../images/lomha/pack.png">
                            <img src="../images/lomha/pack.png" class="images-gal full-size-img" alt="Pack Lomha">
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</main>
<footer>

</footer>
<%- include('./partials/scripts') %>
</html>