<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>

    <body>

        <div class="container">

            <div class="tz-gallery">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/rgb/RGB.png">
                            <img src="../images/rgb/RGB.png" class="images-gal" alt="Marca RGB">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/rgb/tarjetasRGB.png">
                            <img src="../images/rgb/tarjetasRGB.png" class="images-gal" alt="Tarjetas RGB">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 shadow-sm">
                        <a class="lightbox" href="../images/rgb/Logo UV RGB.png">
                            <img src="../images/rgb/Logo UV RGB.png" class="images-gal" alt="Marca RGB">
                        </a>
                    </div>
                    <div class="col-lg-12  shadow-sm">
                        <a class="lightbox" href="../images/rgb/CarpetaRGB.png">
                            <img src="../images/rgb/CarpetaRGB.png" class="images-gal full-size-img" alt="Folder RGB">
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </body>
</main>
<footer>

</footer>
<%- include('./partials/scripts') %>
</html>